h1 {
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: 40px;
  background-color: rgb(210, 243, 243);
}

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}

.foto {
  height: 200px;
  border-radius: 8px;
}

/* Estilos do footer */
footer {
  margin-top: 60px;
  padding: 20px 0;
  background-color: #f2f2f2;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

footer li {
  display: inline;
  margin: 0 15px;
}

footer a {
  text-decoration: none;
  color: #686868;
  font-weight: bold;
}

footer a:hover {
  color: #007BFF;
}

address {
  display: block;
  text-align: center;
  font-style: normal;
  line-height: 1.6;
  color: #948a8a;
}

body {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 40px auto;
  padding: 0 15px;
  background-color: #5e5b5b;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input, textarea {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  resize: vertical;
}

button {
  padding: 12px;
  font-size: 1rem;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}