body {
        background: linear-gradient(to top, #d1b8dd, #95c5d4) no-repeat;
    }

.site-completo {
    display: grid;
    grid-template-columns: 1fr;
    /*	Uma	coluna	só	*/
    gap: 15px;
   }

/*	CSS	para	Tablet	(e	maiores)	*/
@media (min-width: 600px) {
    .site-completo {
        grid-template-columns: 1fr 3fr;
        /*	Duas	colunas	*/
        grid-template-areas: "header	header""nav	main""nav	sidebar""footer	footer";
    }

    /*	Dizemos	onde	cada	elemento	vai	ficar	*/
    .site-header {
        grid-area: header;
    }

    .site-nav {
        grid-area: nav;
    }

    .site-main {
        grid-area: main;
    }

    .site-sidebar {
        grid-area: sidebar;
    }

    .site-footer {
        grid-area: footer;
    }

    body {
        background: linear-gradient(to top, #4de655, #d48b1c);
    }
}


/*	CSS	para	Desktop	(e	maiores)	*/
@media (min-width: 900px) {
    .site-completo {
        grid-template-columns: 1fr 4fr 1.5fr;
        /*	Três	colunas	*/
        grid-template-areas: "header	header	header""nav	main	sidebar""footer	footer	footer";
    }


    body {
        background: linear-gradient(to top, #cfa2e6, #9595d4) no-repeat;
    }
}